/* General Styles + reset */

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    color: rgb(255, 255, 255);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --fs-1: 1rem;
    --fs-2: 1.618rem;
    --fs-3: 2.618rem;
    --fs-4: 4.236rem;
    --fs-5: 6.854rem;
    --fs-6: 11.089rem;
    --fs-small-1: 0.618rem;
    --fs-small-2: 0.382rem;

    --clr-primary: #020617;
    --clr-secondary: #0068F7;
    --clr-ternary: #D9E8FE;
    --clr-shade-1: #121222;
    --clr-shade-2: #287df5;
}

input, button {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

img {
    width: 50px;
    height: auto;
}

/* page layout Styles */

.page-container {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) 5fr;
    grid-template-areas: 
    'sidebar nav'
    'sidebar main';
    position: relative;
    background-color: var(--clr-primary);
}

.aside {
    grid-area: sidebar;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

/* Sidebar Styles */

.aside {
    display: grid;
    position: sticky;
    top: 0;

    height: 100vh;
    background-color: var(--clr-shade-1);
    padding: 0 var(--fs-2) var(--fs-2) var(--fs-2);
}

.user-avatar-sidebar {
    align-self: end;
}

/* controls styles */

.profile-controls > div:hover,
.setting-privacy > div:hover {
    background-color: var(--clr-shade-2);
    box-shadow: 0px 0px 10px var(--clr-shade-2);
    cursor: pointer;
    border-radius: 15px;
}

.profile-controls > div > img,
.setting-privacy > div > img {
    width: var(--fs-2);
    height: auto;
}

.profile-controls > div > span,
.setting-privacy > div > span {
    font-size: var(--fs-1);
    font-weight: bold;
}

.profile-controls > div,
.setting-privacy > div {
    display: flex;
    gap: var(--fs-1);
    padding: 10px;
}

/* logo section styles */

.logo {
    display: flex;
    gap: var(--fs-1);
    align-items: center;
}

.logo span {
    font-size: var(--fs-3);
    font-weight: bolder;
}

.logo > img {
    width: var(--fs-4);
}

/* sidebar user avatar */

.user-avatar-sidebar {
    display: flex;
    gap: var(--fs-1);
    align-items: center;
}

.user-avatar-sidebar img {
    border-radius: 50%;
}

.user-avatar-sidebar span p:first-child {
    font-size: var(--fs-1);
    font-weight: bolder;
}

.user-avatar-sidebar span p:last-child {
    font-size: var(--fs-1);
}

/* navbar styles */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--fs-1) var(--fs-3) var(--fs-1) var(--fs-3);
}

.nav input {
    width: 40%;
    height: 70%;
    border: 1px solid grey;
    border-radius: 30px;
    background-color: var(--clr-shade-1);
    padding: var(--fs-1);
    caret-color: white;
    color: white;
    margin-left: var(--fs-3);
}

.nav input:focus {
    outline: 1px solid #d4d4d4;
}

.nav div img[alt="user avatar 1"] {
    border-radius: 50%;
}

.nav div {
    display: flex;
    gap: var(--fs-2);
}

.nav div img[alt="bell icon"] {
    width: var(--fs-2);
    height: auto;
}

.nav div img[alt="bell icon"]:hover {
    cursor: pointer;
}

/* main styles */

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;

    padding: var(--fs-1) var(--fs-3) var(--fs-1) var(--fs-3);
}

.main > div {
    grid-column: 1 / -1;
}

.quick-actions-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: var(--fs-3);
}

.quick-actions-container > span {
    font-size: var(--fs-4);
}

.quick-actions {
    display: grid;
    gap: 5%;
}


.quick-actions > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-left: var(--fs-2);
    padding-right: var(--fs-2);

    background-color: var(--clr-shade-1);
    border-radius: 30px;
    font-size: var(--fs-1);
    font-weight: bold;
}

.quick-actions > div:hover {
    background-color: var(--clr-shade-2);
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--clr-shade-2);
}

section {
    padding: var(--fs-3);
}

section > p {
    font-size: var(--fs-2);
    margin-bottom: var(--fs-2);
    margin-left: var(--fs-1);
}

/* cards styles */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--fs-3);

}

.card {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: var(--fs-1);

    background-color: var(--clr-shade-1);
    padding: var(--fs-2);
    border-radius: 20px;
}

.card:hover {
    background-color: #1a1a2e;
    cursor: pointer;
}

.card-actions {
    justify-self: end;
    display: flex;
    gap: var(--fs-1);
}

.card-actions > img {
    width: var(--fs-2);
    cursor: pointer;
}

/* article styles */

.main > article {
    display: grid;
    grid-template-rows: max-content max-content;
    gap: var(--fs-3);

    padding-top: var(--fs-3);
    padding-bottom: var(--fs-3);
}

.announcements > p {
    font-size: var(--fs-2);
    margin-bottom: var(--fs-2);
    margin-left: var(--fs-1);
}

.announcements > div,
.trending > div {
    padding: var(--fs-2);
    background-color: var(--clr-shade-1);
    border-radius: 20px;
}

.announcements > div {
    display: grid;
    padding-right: var(--fs-3);
    padding-left: var(--fs-3);
    gap: var(--fs-2);
}

.maintenance,
.share-day {
    border-bottom: 1px solid var(--clr-ternary);
    padding-bottom: var(--fs-1);
}

.announcements > div > div > h3:hover {
    cursor: pointer;
    color: var(--clr-shade-2);
}

.trending > p {
    font-size: var(--fs-2);
    margin-bottom: var(--fs-2);
    margin-left: var(--fs-1);
}

.trending > div > div {
    display: flex;
    gap: var(--fs-1);
    min-width: max-content;
}

.trending > div > div > img {
    border-radius: 50%;
}

.trending > div > div:first-child,
.trending > div > div:nth-child(2),
.trending > div > div:nth-child(3) {
    margin-bottom: var(--fs-2);
}

.trending > div > div > span > p:first-child {
    font-weight: bold;
}

@media (max-width: 1050px) {
    .aside {
        display: none;
    }

    .page-container {
    grid-template-columns: 0fr 5fr;
    }

    .quick-actions-container {
        padding-left: 0;
    }

    .nav input {
        margin-left: 0;
    }

    section {
        padding-left: 0;
    }
}

@media (max-width: 700px) {
    .quick-actions-container {
        grid-template-columns: 1fr;
    }

    .quick-actions-container > span {
        display: none;
    }    
    
    .main {
        grid-template-columns: 1fr;
    }

    section {
        padding-right: 0;
    }
}